*,
*::after,
*::before{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ 
    --outline-color:black;
}

body{ 
    background-color: #eee;
    font-family: 'Inter', sans-serif;
    color: #000;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

button{ 
    border: none;
    cursor: pointer;
}

.user-avatar{ 
    width: 5rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.container{ 
    position: relative;
    margin-bottom: 10rem;
}

.menu{ 
    background-color: black;
    padding: 0.25rem 2rem;
    margin-block-start: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu[data-shown = "false"]{ 
    display: none;
}

.menu[data-shown = "true"]{ 
    display: block;
}

.menu-item{ 
    --outline-color:white;
    display: block;
    margin-block: 1.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    width: max-content;
}


button:focus , .menu-item:focus{ 
    outline: 3px dotted var(--outline-color);
}